* 
{
    padding: 0;
    margin: 0;
}

.text-center 
{
    background-color: rgba(202, 24, 24, 0.804);
    height: 70px;
    margin-top: 40px;
    border: solid;
    border-radius: 10px;
}

.logo 
{
    height: 150px;
    position: relative;
    bottom: 50px;
}

.h2 
{
    text-align: center;
    margin-top: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card 
{
    width: 330px;
    margin: 5px;
    padding-top: 10px;
}

/* .col-8 
{
    border: solid;
}

.col-4
{
    border: solid;
} */

li
{
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.h3
{
    border: solid green 2px;
    display: inline-block;
    margin-left: 170px;
    background-color: rgba(8, 115, 8, 0.753);
    border-radius: 10px;
    padding: 10px;
    color:  white;
    margin-top: 20px;
}

#basket
{
    margin-left: 100px;
}